body
{
  margin:0;
  padding:0;
}

h1
{
  color:red;
}

#container
{
  border-style:dashed;
  position:relative;
  width:100%;
  height:100%;
}

#main
{
  border-style:dashed;
}

#left
{
  border-style:dashed;
  height:600px;
  width:700px;
  float:left;
}

#right
{
  border-style:dashed;
  height:600px;
  width:700px;
  float:right;
}

#footer
{
  height:50px;
  width:100%;
  border-style:solid;
  vertical-align:text-bottom;
}
